 @media (min-width: 1200px) {
     .navbar .container {
         width: 70%;
     }
 }

 @media (min-width: 576px) {
     .hi p:nth-child(1) {
         font-size: 6em;
     }
 }

 @media (max-width: 576px) {
     .hi p:nth-child(1) {
         font-size: 5em;
     }
 }

 /* 主体部分 */

 /* 模拟表格居中 */

 .hi {
     display: table;
     width: 100%;
     transition: background-color 2s;
 }

 .hi .content {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
 }

 .hi span, .hi p:nth-child(2) {
     opacity: 0;
 }

 .hi p:nth-child(2) {
     position: relative;
     top: 30%;
 }